.popup__content {
  width: 430px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  padding: 34px 36px 37px 36px;
  box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__content {
    width: 289px;
    padding: 25px 22px;
  }
}