.popup__name-input {
  border: 1px solid rgba(0, 0, 0, .2);
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  padding-bottom: 13px;
}